<ion-content [fullscreen]="true">

  <ion-input [(ngModel)]="searchTerm" (input)="filterData()" placeholder="Rechercher..."></ion-input>

  <ion-list [inset]="true">
    <ion-list-header style="margin-bottom: 0;">Associations</ion-list-header>
    <ion-item *ngFor="let association of filteredAssociations" (click)="association.id && goToAssociationDetails(association.id)">
      <ion-label>{{association.nom}}</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list [inset]="true">
    <ion-list-header style="margin-bottom: 0;">Collectes</ion-list-header>
    <ion-item *ngFor="let collecte of filteredCollectes" (click)="collecte.id && goToCollecteDetails(collecte.id)">
      <ion-label>{{collecte.nom}}</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list [inset]="true">
    <ion-list-header style="margin-bottom: 0;">Actualites</ion-list-header>
    <ion-item *ngFor="let actualite of filteredActualites" routerLink="/actualites-list">
      <ion-label>{{actualite.titre}}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>