<ion-content [fullscreen]="true">

  <h1 class="list-title">Liste des Collectes</h1>

  <ion-input aria-label="Email" placeholder="Rechercher..." (input)="filterCollectes($event)"></ion-input>

  <ion-list class="association-select">
    <ion-item>
      <ion-label>Association</ion-label>
      <ion-select [(ngModel)]="selectedAssociation" (ionChange)="filterByAssociation()">
        <ion-select-option *ngFor="let association of associations" [value]="association.id">{{ association.nom }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="collectes-cards">

    <ion-card *ngFor="let collecte of collectes" (click)="collecte.id && goToDetails(collecte.id)">
      <img class="collecte-image" [src]="collecte.image" alt="Image of {{collecte.image}}" />
      <ion-card-header>
        <ion-card-title>{{collecte.nom}}</ion-card-title>
        <ion-card-subtitle>{{getDaysRemaining(collecte)}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        {{collecte.description}}
      </ion-card-content>
      <div class="progress-value">{{ getProgressPercentage(collecte) | percent }}</div>
      <ion-progress-bar class="my-progress-bar" color="danger" [value]="getProgressPercentage(collecte)"></ion-progress-bar>
    </ion-card>
  </div>
</ion-content>