<ion-content>
  <div class="center-container">
    <div class="details-container">
      <img [src]="selectedAssociation?.logo" class="association-logo" />
      <h1 class="association-title">{{ selectedAssociation?.nom }}</h1>
      <h2 class="association-category">{{ selectedAssociation?.categorie }}</h2>
      <p class="association-description">{{ selectedAssociation?.description }}</p>
      <div class="association-info">
        <div class="info-item">
          <ion-icon name="pin" class="info-icon address-icon"></ion-icon>
          <a [href]="'https://www.google.com/maps/search/?api=1&query=' + selectedAssociation?.adresse" target="_blank">{{ selectedAssociation?.adresse }}</a>
        </div>
        <div class="info-item">
          <ion-icon name="call" class="info-icon phone-icon"></ion-icon>
          <a [href]="'tel:' + selectedAssociation?.telephone">{{ selectedAssociation?.telephone }}</a>
        </div>
        <div class="info-item">
          <ion-icon name="mail" class="info-icon email-icon"></ion-icon>
          <a [href]="'mailto:' + selectedAssociation?.email">{{ selectedAssociation?.email }}</a>
        </div>
      </div>
    </div>
  </div>
</ion-content>