<ion-content>
  <div class="center-container">
    <div class="details-container">
      <img [src]="selectedAssociation?.logo" class="association-logo" />
      <h1 class="association-title">{{ selectedAssociation?.nom }}</h1>
      <h2 class="association-category">{{ selectedAssociation?.categorie }}</h2>
      <p class="association-description">{{ selectedAssociation?.description }}</p>
      <div class="association-info">
        <div class="info-item">
          <ion-icon name="pin" class="info-icon address-icon"></ion-icon>
          <a [href]="'https://www.google.com/maps/search/?api=1&query=' + selectedAssociation?.adresse" target="_blank">{{ selectedAssociation?.adresse }}</a>
        </div>
        <div class="info-item">
          <ion-icon name="call" class="info-icon phone-icon"></ion-icon>
          <a [href]="'tel:' + selectedAssociation?.telephone">{{ selectedAssociation?.telephone }}</a>
        </div>
        <div class="info-item">
          <ion-icon name="mail" class="info-icon email-icon"></ion-icon>
          <a [href]="'mailto:' + selectedAssociation?.email">{{ selectedAssociation?.email }}</a>
        </div>
      </div>
    </div>  
  </div>
  <div class="donation-container">
    <h2 class="donation-title">
      Faire un don
    </h2>
    <div class="donation-buttons">
      <ion-button fill="solid" size="small" color="danger" expand="block" (click)="updateDonationAmountFromButton(10)">10 DT</ion-button>
      <ion-button fill="solid" size="small" color="danger" expand="block" (click)="updateDonationAmountFromButton(20)">20 DT</ion-button>
      <ion-button fill="solid" size="small" color="danger" expand="block" (click)="updateDonationAmountFromButton(50)">50 DT</ion-button>
      <ion-button fill="solid" size="small" color="danger" expand="block" (click)="updateDonationAmountFromButton(100)">100 DT</ion-button>
    </div>
    <div class="donation-input-container">
      <ion-input label="Choisir le montant" label-placement="floating" fill="solid" placeholder="Saisir le montant"></ion-input>
    </div>  
  </div>
</ion-content>