.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 600px;
  }
  
  .association-logo {
    width: 200px;
    height: 200px;
    object-fit: fill;
  }
  
  .association-title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    display: inline-block;
  
    &::after {
      content: '';
      position: absolute;
      left: 10%;
      right: 10%;
      bottom: -10px;
      border-bottom: 2px solid #ff0000;
    }
  }
  
  .association-category {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    margin-bottom: 20px;
  }
  
  .association-description {
    font-size: 13px;
    line-height: 1.6;
    color: #000000;
    text-align: center;
    border: 2px solid #0000001d;
    padding:5px;
  }
  
  .association-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
  }
  
  .info-item {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .info-item a {
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: 13px;
  }
  
  .info-icon {
    grid-row: 1;
    justify-self: center;
    font-size: 17px;
  }
  
  .address-icon {
    color: #f44336; // red
  }
  
  .phone-icon {
    color: #4caf50; // green
  }
  
  .email-icon {
    color: #2196f3; // blue
  }
  
  .info-item a {
    grid-row: 2;
    justify-self: center;
    text-align: center;
  }

  .donation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .donation-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .donation-input {
    width: 100%;
  }

  .donation-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .donation-buttons ion-button {
    flex: 1 0 70%;
    margin: 5px 0;
  }

  .validerDon{
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-weight: 800;
    font-size: .70em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
    border-radius: 50em;
    background-color: #cc0000;
}
.validerDon:hover, .validerDon:focus{
  opacity: 0.8;
}
.validerDon:active{
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}
  
  