<ion-app>
  <!-- <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>DonByUIB</ion-title>
    </ion-toolbar>
  </ion-header>   -->
  <ion-content  [fullscreen]="true" class="ion-padding" >
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
        Accueil
      </ion-tab-button>
      <ion-tab-button routerLink="/associations-list">
        <ion-icon name="apps-outline"></ion-icon>
        Associations
      </ion-tab-button>
      <ion-tab-button tab="cash-outline">
        <ion-icon name="cash-outline"></ion-icon>
        Collectes
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Recherche
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
