<ion-app>
  <ion-header>
    <ion-toolbar style="background-color: white; border-bottom: 1px solid black;">
      <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
        <div>
          <img src="../assets/icon/logodonbyuib.png" alt="logo" style="height: 50px;">
        </div>

        <div>
          <img src="../assets/icon/UIBGr_RVB.png" alt="logo" style="height: 40px;">
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content  [fullscreen]="true" class="ion-padding" >
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [class.selected]="selectedTab === 'home'" class="tab-button" routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
        Accueil
      </ion-tab-button>
      <ion-tab-button [class.selected]="selectedTab === 'associations-list'" class="tab-button" routerLink="/associations-list">
        <ion-icon name="apps-outline"></ion-icon>
        Associations
      </ion-tab-button>
      <ion-tab-button [class.selected]="selectedTab === 'collectes-list'" class="tab-button" routerLink="/collectes-list">
        <ion-icon name="cash-outline"></ion-icon>
        Collectes
      </ion-tab-button>
      <ion-tab-button [class.selected]="selectedTab === 'search'" class="tab-button" tab="search" routerLink="/recherche">
        <ion-icon name="search"></ion-icon>
        Recherche
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
